@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
}

body {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*---header---*/
header {
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header div {
    text-align: center;
}

header nav {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: #3b3b3b;
    font-size: 18px;
}

/*-------Main------*/

main {
    height: 90vh;
    background-image: url("https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

main p {
    font-size: 20px;
}

main h1 {
    font-size: 100px;
    letter-spacing: 30px;
    margin: 20px 0;
}

button {
    font-family: "Orbitron", sans-serif;
    margin-top: 20px;
    border: none;
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;

}