@media screen and (max-width: 600px) {
    header {
        height: 25vh;
    }

    section {
        flex-direction: column;
    }

    section > div.box-b {
        height: 50vh;
        width: 100%;
    }

    section > div.box-c {
        height: 25vh;
        width: 100%;

    }
}