.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box {
    width: 150px;
    height: 150px;
    background-color: bisque;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box-1 {
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
}

.box-2 {
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
}

.box-3 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
}

.box-4 {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
}

.box-5 {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
}