.container {
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: bisque;

}

.box {
    width: 100px;
    height: 100px;
    background-color: indianred;
    border: 1px solid black;
}

.box:hover {
    background-color: gray;
    border-radius: 50%;
}
